.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;

  & > img {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
