@import './../../styles/mixins';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;

  & > img {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@include tablet {
  .wrapper {
    margin-bottom: 50px;
    & > img {
      max-width: 100px;
    }
  }
}

@include mobile {
  .wrapper {
    & > img {
      max-width: 60px;
    }
  }
}

@include small-mobile {
  .wrapper {
    & > img {
      max-width: 50px;
    }
  }
}
