@import './../../styles/variables';

.statistic {
  padding-block: 140px;
  background-color: $second-bg-color;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num {
  color: $main-brand-color;
  font-size: 85px;
  line-height: 127.5px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  text-align: center;
}

.divider {
  height: 195px;
  width: 1px;
  background-color: $main-brand-color;
}
