@import './../../styles/variables';
@import './../../styles/mixins';

.statistic {
  margin-bottom: 140px;
  padding-block: 140px;
  background-color: $second-bg-color;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num {
  color: $main-brand-color;
  font-size: 85px;
  line-height: 127.5px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  text-align: center;
}

.divider {
  height: 195px;
  width: 1px;
  background-color: $main-brand-color;
}

@include tablet {
  .statistic {
    margin-bottom: 70px;
    padding-block: 70px;
  }

  .num {
    font-size: 66px;
    line-height: 80px;
  }

  .text {
    font-size: 18px;
    line-height: 28px;
  }

  .divider {
    height: 120px;
  }
}

@include mobile {
  .wrapper {
    flex-wrap: wrap;

    & > article {
      width: 50%;
    }
  }

  .statistic {
    margin-bottom: 50px;
    padding-block: 50px;
  }

  .num {
    font-size: 36px;
    line-height: 60px;
  }

  .text {
    font-size: 14px;
  }

  .divider {
    display: none;
  }
}
