@import './../../styles/variables';
@import './../../styles/mixins';

.btn {
  display: flex;
  align-items: center;
  gap: 30px;
  width: fit-content;
  padding: 14px 20px 14px 34px;
  font-size: 18px;
  border: 2px solid;
  border-radius: 18px;
  color: $btn-text-color;
  transition: all 0.3s;

  & > img {
    position: relative;
    right: 0;
    transition: all 0.3s;
  }

  &:hover {
    transform: scale(1.05);

    & > img {
      right: -5px;
    }
  }
}

@include tablet {
  .btn {
    gap: 20px;
    padding: 10px 20px 10px 30px;
    font-size: 18px;

    & > img {
      width: 22px;
    }
  }
}
