.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 38px;
  border: 2px solid blue;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
