@import './../../styles/variables';
@import './../../styles/mixins';

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding-block: 28px;
  background-color: $main-bg-color;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include tablet {
  .header {
    padding-block: 20px;
  }
}
