@import './../../styles/mixins';
@import './../../styles/variables';

.features {
  padding-block: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@include tablet {
  .features {
    padding-block: 70px;
  }
}

@media (min-width: $tablet-size) and (max-width: $desktop-size) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include tablet {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mobile {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
