@import './../../styles/mixins';

.features {
  padding-block: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@include tablet {
  .features {
    padding-block: 70px;
  }
}

@include mobile {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
