@import './../../styles/variables';
@import './../../styles/mixins';

.wrapper {
  display: grid;
  grid-template-columns: 320px 1fr 1fr 320px;
  gap: 80px;
  margin-bottom: 60px;
}

.text {
  margin-bottom: 20px;
  color: $text-color;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link > img {
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.title {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 37.5px;
  letter-spacing: 0.22px;
}

.links {
  & > li {
    margin-bottom: 20px;

    & > a {
      color: $text-color;
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.22px;
      transition: all 0.3s;

      &:hover {
        color: $main-brand-color;
      }
    }
  }
}

.line {
  height: 2px;
  width: 100%;
  background-color: $second-bg-color;
}

@include desktop {
  .wrapper {
    gap: 40px;
    margin-bottom: 30px;
  }

  .text {
    font-size: 20px;
    line-height: 28px;
  }

  .title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 30px;
  }

  .links {
    & > li {
      margin-bottom: 10px;

      & > a {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@include tablet {
  .wrapper {
    grid-template-columns: 320px 1fr 1fr;
    gap: 20px;
  }

  .text {
    font-size: 18px;
  }
}

@include mobile {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }

  .title {
    font-size: 20px;
  }
}

@include small-mobile {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
