@import './assets/styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: $main-bg-color;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  border: 2px solid gray;
}
