// Colors
$main-brand-color: #cda274;
$second-brand-color: #292f36;
$text-color: #4d5053;
$btn-text-color: #ffffff;

$main-bg-color: #ffffff;
$review-bg-color: #ffffff;
$second-bg-color: #f4f0ec;
$box-shadow-color: #cbcbcb;

$blog-border-color: #e7e7e7;
$category-bg-color: #ffffff;
