// Colors
$main-brand-color: #cda274;
$second-brand-color: #292f36;
$text-color: #4d5053;
$btn-text-color: #fff;

$main-bg-color: #fff;
$review-bg-color: #fff;
$second-bg-color: #f4f0ec;
$box-shadow-color: #cbcbcb;

$blog-border-color: #e7e7e7;
$category-bg-color: #fff;
$contact-text-color: #fff;

// Screens sizes
$desktop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;
$small-mobile-size: 320px;
